################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/tp-labs-shkamarda2.0/CopilotIndices/18.9.1319.62376
/.vs/tp-labs-shkamarda2.0.slnx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Lab5/Lab5/.vs/Lab5.slnx/FileContentIndex
